* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* navbar  */
.navbar-brand {
    font-size: 2rem;
    font-family: "Pacifico", cursive;
    color: rgb(238, 11, 105);
}


.navbar-brand:hover {
    color: black;
}

.nav-item a {
    margin-right: 15px;
    margin-left: 15px;
    color: black;
    text-transform: uppercase;
    font-family: sans-serif;
}

.nav-item a:hover {
    color: rgb(238, 11, 105);
}


.d-flex,
.far {
    color: rgb(238, 11, 105);
    font-size: 1.1rem;
    cursor: pointer;
}


.main {
    background: url(images/heroy.jpg)no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.main p {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.main h1 {
    font-size: 5rem;
    font-weight: 800;
}


.btn2 {
    height: 45px;
    width: 20%;
    outline: none;
    border: none;
    color: aliceblue;
    background-color: rgb(238, 11, 105);
    font-weight: bold;
    transition: all 0.4s;
    cursor: pointer;

}

.btn2:hover {

    border: 1px solid rgb(238, 11, 105);
    background: transparent;
    color: rgb(238, 11, 105);
    transition: all 0.4s;
}


.btnc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 53px;
    width: 40%;
    color: black;
    border: none;
    outline: none;
    background: white;
    cursor: all 0.4s;

}

.btnc:hover {
    background: rgb(238, 11, 105);

    color: aliceblue;
    transition: all 0.4s;
}

.zoom-n-rotate {
    border-radius: 60;
    outline: none;
    overflow: hidden;
    cursor: pointer;
}

.zoom-n-rotate img {
    transition: transform .5s ease-in-out;
height:360px;

background-size:cover;
}

.zoom-n-rotate img:hover {
    transform: scale(1.5);
}

/*  */

h1{


    font-weight: 800;
    font-size: 2.6rem;
}



.product{
    background: rgb(246,243,243);
}


.discount{
    height: 50px;
    width: 50px;
    background: rgb(238, 11, 105);
    border-radius: 50%;
    padding: 12px 5px ;
    color: white;
    position: absolute;
    top: 15%;
    left: 85%;
    transform: translate(-50%,-50%);
}