* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* navbar  */
.navbar-brand {
    font-size: 2rem;
    font-family: "Pacifico", cursive;
    color: rgb(238, 11, 105);
}


.navbar-brand:hover {
    color: black;
}

.nav-item a {
    margin-right: 15px;
    margin-left: 15px;
    color: black;
    text-transform: uppercase;
    font-family: sans-serif;
}

.nav-item a:hover {
    color: rgb(238, 11, 105);
}


.d-flex,
.far {
    color: rgb(238, 11, 105);
    font-size: 1.1rem;
    cursor: pointer;
}


.main {
    background: url(images/heroy.jpg)no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.main p{
    font-size: 1.5rem;
    text-transform: uppercase;
}

.main h1{
    font-size: 5rem;
    font-weight: 800;
}


.btn2{
    height: 45px;
    width: 20%;
    outline: none;
    border: none;
    color: aliceblue;
    background-color:  rgb(238, 11, 105);
    font-weight: bold;
    transition: all 0.4s;
    cursor: pointer;

}

.btn2:hover{

    border: 1px solid  rgb(238, 11, 105);
    background: transparent;
    color:  rgb(238, 11, 105);
    transition: all 0.4s;
}